// https://color.adobe.com/create/color-wheel/?base=3&rule=Analogous&selected=2&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.9598039215686275,0.853563300775425,0.3456803054925757,0.9998039215686274,0.45337202827007317,0.4204033424273269,0.5687785428686558,0.9998039215686274,0.7317679170651878,0.43137254901960786,0.42745098039215684,0.9098039215686274,0.9598039215686275,0.8335384250905685,0.2731962368627631&swatchOrder=0,1,2,3,4
@import "node_modules/bootstrap/scss/bootstrap";

// Variables
$textColor: #444;
$dateColor: #888;
$lineColor: #eee;
$dotColor: #91FFBB;
$iconColor: #6E6DE8;
$linkColor: #eee;
$linkActiveColor: #FF746B;
$shadowColor: #f4f4f4;
$imageWidth: 160px;

// Bootstrap overrides
$theme-colors: (
  "primary": #6E6DE8
);

// Mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin shadow($vert_offset, $blur_radius, $spread_radius) {
  -moz-box-shadow:    0 $vert_offset $blur_radius $spread_radius $shadowColor;
  -webkit-box-shadow: 0 $vert_offset $blur_radius $spread_radius $shadowColor;
  box-shadow:         0 $vert_offset $blur_radius $spread_radius $shadowColor;
}

// Extensions
%thumbnail {
  @include shadow(2px, 4px, 2px)
  @include border-radius(4px)
  width: $imageWidth;
}
%fa-icon {
  font-family: FontAwesome;
  color: $iconColor;
  font-size: 1.5em;
}


// Styles
body {
  padding-top: 48px;
  font-family: 'Raleway', sans-serif;
  color: $textColor;
}
@media (min-width: 992px) {
  body {
    //padding-top: 96px;
  }
}
a {
  font-family: "PT Mono", monospace;
  font-size: .9em;
  color: $textColor;
  border-bottom-width: 3px;
  border-color: $linkColor;
  border-bottom-style: solid;

  &:hover {
    border-color: $linkActiveColor;
    text-decoration: none;
    color: $textColor;
  }
}
.large-type {
  font-size: 4em;
}
.vertical {
  width: 4px;
  background-color: $lineColor;
  margin: 0 auto 0 auto;
  flex: auto;
  min-height: 56px;
  @include border-radius(2px);
}
.row .vertical {
  flex: unset;
}
.dot {
  width: 8px;
  height: 8px;
  background-color: $dotColor;
  margin: 8px auto 8px auto;
  @include border-radius(100%);
}

/* Items */
.content-box {
  padding: 0 0 64px 0px;

  div {
    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.comment {
  position: relative;
  margin-top: -.1em;
  text-align: justify;
}
.date {
  color: $dateColor;
  font-size: 1em;
}

.video {
  img {
    @extend %thumbnail;
  }
  a {
    position: relative;

    &:before {
      @extend %fa-icon;
      content: "\f144";
      font-size: 1.5em;
      left: 45%;
      top: 25%;
      position: absolute;
    }
  }
}
.files {
  a {
    margin: 0 16px 0 24px;
    position:relative;

    &:before {
      @extend %fa-icon;
      content: "\f15b";
      font-size: 1.2em;
      left: -1.2em;
      top: -.2em;
      position: absolute;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}
.images {
  img {
    @extend %thumbnail;
  }
}


/* Simply a mix of bootstrap's .row and .justify-content-center */
.entry {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -ms-flex-pack: center !important;
  justify-content: center !important;

  h2 {
    font-size: 1.5em;
    margin-top: -.15em;
  }
  p {
    font-size: 1em;
    margin-bottom: .2em;
  }
}
.left {
  text-align: right;
  width: 45%;
  margin-right: 16px;
}
.right {
  text-align: left;
  width: 45%;
  margin-left: 16px;
}
.middle {
  width: 4%;
  display: flex;
  flex-direction: column;
}
.timeline {
  margin-top: 64px;
  margin-bottom: 128px;
}
.made-by {
  text-align: right;
  padding-bottom: 24px;

  a {
    position: relative;
    margin-left: 4px;

    &:after {
      content: "";
      background-image: url("../img/self32.gif");
      background-size: contain;
      @include border-radius(100%);
      display: inline-block;
      width: 32px;
      height: 32px;
      position: absolute;
      top: -8px;
      right: -40px;
    }
  }
}
.outline {
  p {
    margin-bottom: 8px;
  }
}

// Signup Form
.indicates-required {
  font-size: .8em;
}
.asterisk {
  color: red;
  font-size: 1.4em;
}
.input-fields {
  margin-top: 24px;
}
label {
  margin-right: 16px;
}
input[type="email"], input[type="text"] {
  border-radius: 8px;
  border-style: none;
  background-color: #eee;
  padding: 0 16px 0 16px;
  height: 40px;
  margin: 0 0 16px 0;
}
input[type="email"] {
  width: 65%;
}
input [type="text"] {
  width: 60%
}
#mc_embed_signup {
  margin-top: 128px;
  font-size: 1em;

  h2 {
    font-size: 1.25em;
  }
}
