body {
  padding-top: 48px;
  font-family: 'Raleway', sans-serif;
  color: % #444; }

a {
  font-family: "PT Mono", monospace;
  font-size: .9em;
  color: #444;
  border-bottom-width: 3px;
  border-color: #eee;
  border-bottom-style: solid; }
  a:hover {
    border-color: #FF746B;
    text-decoration: none;
    color: #444; }

.large-type {
  font-size: 4em; }

.vertical {
  width: 4px;
  background-color: #eee;
  margin: 0 auto 0 auto;
  flex: auto;
  min-height: 56px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

.row .vertical {
  flex: unset; }

.dot {
  width: 8px;
  height: 8px;
  background-color: #91FFBB;
  margin: 8px auto 8px auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%; }

/* Items */
.content-box {
  padding: 0 0 64px 0px; }
  .content-box div {
    margin-bottom: 8px; }
    .content-box div:last-of-type {
      margin-bottom: 0; }

.files a:before {
  font-family: FontAwesome;
  color: #6E6DE8;
  font-size: 1.5em; }

.comment {
  position: relative;
  margin-top: -.1em; }

.date {
  color: #888;
  font-size: 1em; }

.files a {
  margin: 0 16px 0 24px;
  position: relative; }
  .files a:before {
    content: "\f15b";
    font-size: 1.2em;
    left: -1.2em;
    top: -.2em;
    position: absolute; }
  .files a:last-of-type {
    margin-right: 0; }

/* Simply a mix of bootstrap's .row and .justify-content-center */
.entry {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -ms-flex-pack: center !important;
  justify-content: center !important; }
  .entry h2 {
    font-size: 1.5em;
    margin-top: -.15em; }
  .entry p {
    font-size: 1em;
    margin-bottom: .2em; }

.left {
  text-align: right;
  width: 45%;
  margin-right: 16px; }

.right {
  text-align: left;
  width: 45%;
  margin-left: 16px; }

.middle {
  width: 4%;
  display: flex;
  flex-direction: column; }

.timeline {
  margin-top: 64px;
  margin-bottom: 256px; }

.made-by {
  text-align: right;
  padding-bottom: 24px; }
  .made-by a {
    position: relative;
    margin-left: 4px; }
    .made-by a:after {
      content: "";
      background-image: url("../img/self32.gif");
      background-size: contain;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      border-radius: 100%;
      display: inline-block;
      width: 32px;
      height: 32px;
      position: absolute;
      top: -8px;
      right: -40px; }
